/*

Start of Nefomemes' fork 

https://nefomemes.github.io/betterfield3-bf4

*/


#main-middle .base-middle-content .campaign-launch-button, .base-button-arrow-large-drop, .base-button-general-dropdown {
width: auto;
    
    padding: 0 !important;
    padding-left: 20px !important;
    line-height: 32px;
    padding-bottom: 0 !important;
    padding-right: 20px !important;
}
#main-middle .base-middle-content .campaign-launch-button {
margin: 70px !important;
}


.tabs-outer .tabs-container .base-big-title  {
        position: relative;
    display: inline-block;
    line-height: 39px;
    margin: 0 0 16px 0;
    padding: 0 16px !important;
    font-size: 36px !important;
    padding-top: 1px !important;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 600 !important;
}

.serverguide-cell-name-server-name {
text-transform: uppercase;
font-family: "Purista", sans-serif, Arial;
    
    line-height: 16px;
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#footer-social {
 
    display: none;
}


#footer-wrapper .footer-wrapper-inner #footer {
    min-height: auto;
    background-color: transparent !important;
}




.submenu .active a {
	color: black !important;
}



.row-tight .span4:first-child, .row-tight .span4.alpha {
    width: 664px;
}
#main-loggedin-header-puff-topstory {
    height: 352px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    background-size: cover;
        width: 664px;
}

.main-loggedin-header-puff-content, .main-loggedin-header-puff-overlay, .main-loggedin-header-puff-background {
    width: 100%;
    height: auto !important;
}

.main-loggedin-header-puff-overlay, .main-loggedin-header-puff-background {
    background-size: cover !important;
}



